/* Style Variables */
:root {
    /* theme from https://www.color-hex.com/color-palette/98179 dark theme */
    --white: #fff;
    --blue: #007acc;
    --gray-1: #c0c0c0;
    --light-gray: #D3D3D3;
    --gray-2: #3e3e42;
    --gray-3: #2d2d30;
    --black-1: #252526;
    --black-2: #1e1e1e;
    --border-radius: 0.3rem;
    --box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);
}

/* Font established for rem units */
html {
    font-size: 16px;
}

body {
    background: var(--light-gray);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: var(--gray-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    color: var(--white);
    line-height: 1.25;
}

main {
    margin: 20px auto;
    width: 94%;
}

p {
    font-size: 1.2rem;
}

.btn {
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    background-color: var(--blue);
    color: var(--white);
}

.btn:hover {
    color: var(--gray-1);
    background-color: var(--gray-2);
}

.hero {
    padding: 3% 4%;
    background-image: linear-gradient(to right, var(--gray-2), var(--gray-3));
    color: var(--gray-2);
}

.app-title {
    font-size: 3rem;
    background-color: var(--gray-1);
    color: var(--dark);
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--black-1);
}

.hero p {
    max-width: 75%;
}

.card {
    margin: 0 0 20px 0;
    border-radius: var(--border-radius);
    background-color: var(--white);
}

.card-header {
    color: var(--white);
    background-color: var(--gray-2);
    padding: 2.5%;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
    padding: 2.5%;
}

.form-input {
    display: block;
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--gray-3);
    border-radius: var(--border-radius);
}

.recents-btn {
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--gray-1);
    background-color: var(--gray-2);
}

.current-conditions p {
    color: var(--black-1);
    font-size: 1.6rem;
}

#name-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2.5%;
}

.forcast h5 {
    color: var(--black-1);
    margin-bottom: 10px;
}

.results {
    visibility: hidden;
}


.text-uppercase {
    text-transform: uppercase;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.justify-space-between {
    justify-content: space-between;
}

.favorable {
    background-color: #00A86B;
    padding: 2px;
    color: var(--white);
}

.moderate {
    background-color: #FFF36D;
    padding: 2px;
    color: var(--white);
}

.severe {
    background-color: #F4364C;
    padding: 2px;
    color: var(--white);
}

